# 0. Importing data

In [1]:
import pandas as pd
import re

listings = pd.read_csv("data/listings_2_reduced.csv",low_memory=False, memory_map=True)
reviews = pd.read_csv("data/reviews_2_reduced.csv",low_memory=False, memory_map = True)

# 1. Data Exploration

1.1 Displays the first five rows of the sample data "listings"

In [2]:
listings.head()

,id,host_id,host_since,host_listings_count,host_identity_verified,calculated_host_listings_count,property_type,room_type,instant_bookable,minimum_nights,...,host_is_superhost,neighbourhood_cleansed,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,description
0,92644,498201,2011-04-10,1.0,t,1,Private room in rental unit,Private room,t,2,...,f,Wandsworth,4.57,4.74,4.86,4.71,4.67,4.53,4.68,<b>The space</b><br />Hi everyone! I have 2 ro...
1,93015,499704,2011-04-11,1.0,t,1,Entire rental unit,Entire home/apt,f,5,...,f,Hammersmith and Fulham,4.82,4.76,4.62,4.85,4.88,4.85,4.74,Gorgeous 2 bed ground floor apartment with per...
2,13913,54730,2009-11-16,3.0,t,2,Private room in rental unit,Private room,f,1,...,f,Islington,4.80,4.72,4.72,4.74,4.82,4.69,4.69,My bright double bedroom with a large window h...
3,15400,60302,2009-12-05,1.0,t,1,Entire rental unit,Entire home/apt,f,7,...,f,Kensington and Chelsea,4.80,4.85,4.88,4.88,4.83,4.93,4.74,Lots of windows and light. St Luke's Gardens ...
4,93734,497514,2011-04-10,1.0,t,1,Private room in condo,Private room,f,4,...,t,Greenwich,4.62,4.70,4.59,4.63,4.81,4.64,4.67,<b>During your stay</b><br />I’m a professiona...

1.2 Listing the last five rows of sample data "listings"

In [3]:
listings.tail()

,id,host_id,host_since,host_listings_count,host_identity_verified,calculated_host_listings_count,property_type,room_type,instant_bookable,minimum_nights,...,host_is_superhost,neighbourhood_cleansed,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,description
87941,973781286754517228,498408783,2023-01-28,2.0,t,2,Entire rental unit,Entire home/apt,f,2,...,t,Westminster,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Enjoy a Experience unique look in the center o...
87942,973801695874775338,36645347,2015-06-24,1.0,t,1,Entire rental unit,Entire home/apt,f,3,...,f,Southwark,NaN,NaN,NaN,NaN,NaN,NaN,NaN,La Casita is a unique one bedroom flat in Sout...
87943,973811685656289740,340514057,2020-03-06,1.0,t,1,Private room in home,Private room,f,1,...,f,Merton,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87944,973882998775927897,439074505,2022-01-05,2538.0,t,170,Entire home,Entire home/apt,t,1,...,f,Hounslow,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<b>The space</b><br />Looking for a spacious h...
87945,973895808066047620,475112423,2022-08-15,37.0,t,6,Entire rental unit,Entire home/apt,f,1,...,f,City of London,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Enjoy staying in the heart of London’s Holborn...

1.3 Listing the random number n rows of sample data "listings"

In [4]:
listings.sample(3)

,id,host_id,host_since,host_listings_count,host_identity_verified,calculated_host_listings_count,property_type,room_type,instant_bookable,minimum_nights,...,host_is_superhost,neighbourhood_cleansed,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,description
3870,5193510,6758502,2013-06-05,1.0,t,1,Entire rental unit,Entire home/apt,f,1,...,f,Hammersmith and Fulham,4.68,4.69,4.58,4.86,4.96,4.8,4.59,A recently refurbished 2-bedroom flat in a qui...
66758,821561007472562782,129230780,2017-05-07,3023.0,t,595,Entire rental unit,Entire home/apt,t,2,...,f,Westminster,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Nice Room
18610,19753595,28820321,2015-03-05,499.0,t,288,Entire rental unit,Entire home/apt,f,2,...,f,Hammersmith and Fulham,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Superb 1BD Flat over two floors in Fulham. Exc...

1.4 Display the sample data's rows and columns(dimensions)

In [5]:
listings.shape

(87946, 26)

1.5 Display the sample data in the markdown template(easier to observer large dataset)

In [6]:
print(listings.head().to_markdown())
print(reviews.head().to_markdown())

|    |    id |   host_id | host_since   |   host_listings_count | host_identity_verified   |   calculated_host_listings_count | property_type               | room_type       | instant_bookable   |   minimum_nights |   maximum_nights |   number_of_reviews |   reviews_per_month | price   |   bedrooms |   beds | host_is_superhost   | neighbourhood_cleansed   |   review_scores_rating |   review_scores_accuracy |   review_scores_cleanliness |   review_scores_checkin |   review_scores_communication |   review_scores_location |   review_scores_value | description                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              |
|---:|------:|----------:|:-------------|----------------------:|:-------------------------|---------------------------------:|:----------------------------|:----------------|:-------------------|-----------------:|-----------------:|--------------------:|--------------------:|:--------|-----------:|-------:|:--------------------|:-------------------------|-----------------------:|-------------------------:|----------------------------:|------------------------:|------------------------------:|-------------------------:|----------------------:|:-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
|  0 | 92644 |    498201 | 2011-04-10   |                     1 | t                        |                                1 | Private room in rental unit | Private room    | t                  |                2 |              730 |                 216 |                1.45 | $42.00  |        nan |      2 | f                   | Wandsworth               |                   4.57 |                     4.74 |                        4.86 |                    4.71 |                          4.67 |                     4.53 |                  4.68 | <b>The space</b><br />Hi everyone! I have 2 rooms with twin beds for people who wish to travel to London England in my home for rent.I live in a quiet and leafy suburb in southwest london and I am only 12 minutes to waterloo station on the train,  there are also several great bus connections; 44 to victoria, 77 to waterloo and the 270 which goes to Chelsea.  Across the road from my house there is also a public tennis court which everyone is free to use and several playing fields, where any type of sport can be played.  There are several restaurants nearby serving a  variety of food, everything you could wish for,  plus there several bars and pubs  so you will never be stuck for any where to go out.   I am experienced at hosting and really enjoy meeting new people. I am Irish but have lived in London for 20 years now so if you are interested then drop me a line.                                                                                                                                |
|  1 | 93015 |    499704 | 2011-04-11   |                     1 | t                        |                                1 | Entire rental unit          | Entire home/apt | f                  |                5 |              240 |                  38 |                0.27 | $175.00 |          2 |      3 | f                   | Hammersmith and Fulham   |                   4.82 |                     4.76 |                        4.62 |                    4.85 |                          4.88 |                     4.85 |                  4.74 | Gorgeous 2 bed ground floor apartment with period features and a real gas fire to keep you warm and cosy.  A great location in West London as a base to explore the city; quiet and residential after a long day out but very accessible from Heathrow and Gatwick and plenty of choices of tube or bus to get you quickly into the centre.<br /><br /><b>The space</b><br />Our apartment is located in the W14 district, and is an excellent base to explore London. Set in a leafy quiet residential street, you have numerous local restaurants and pubs a few minutes walk away. The area is also known as Brook Green. Within 10 minutes walk you can be exploring shopping districts like Westfield and High Street Kensington. The famous Portobello market and Notting Hill area are also a short walk or tube ride away. The property has two bedrooms with double beds overlooking gardens at the back; the bathroom has a shower and bath and plenty of storage; the lounge has beautiful period features, an open fire and  |
|  2 | 13913 |     54730 | 2009-11-16   |                     3 | t                        |                                2 | Private room in rental unit | Private room    | f                  |                1 |               29 |                  41 |                0.26 | $79.00  |        nan |      1 | f                   | Islington                |                   4.8  |                     4.72 |                        4.72 |                    4.74 |                          4.82 |                     4.69 |                  4.69 | My bright double bedroom with a large window has a relaxed feeling! It comfortably fits one or two and is centrally located just two blocks from Finsbury Park. Enjoy great restaurants in the area and easy access to easy transport tubes, trains and buses. Babies and children of all ages are welcome.<br /><br /><b>The space</b><br />Hello Everyone,<br /><br />I'm offering my lovely double bedroom in Finsbury Park area (zone 2) for let in a shared apartment. <br />You will share the apartment with me and it is fully furnished with a self catering kitchen. Two people can easily sleep well as the room has a queen size bed. I also have a travel cot for a baby for guest with small children. <br /><br />I will require a deposit up front as a security gesture on both our parts and will be given back to you when you return the keys. <br /><br />I trust anyone who will be responding to this add would treat my home with care and respect . <br /><br />Best Wishes <br /><br />Alina<br /><br /><b>Gue |
|  3 | 15400 |     60302 | 2009-12-05   |                     1 | t                        |                                1 | Entire rental unit          | Entire home/apt | f                  |                7 |               30 |                  94 |                0.56 | $150.00 |          1 |      1 | f                   | Kensington and Chelsea   |                   4.8  |                     4.85 |                        4.88 |                    4.88 |                          4.83 |                     4.93 |                  4.74 | Lots of windows and light.  St Luke's Gardens are at the end of the block, and the river not too far the other way. Ten minutes walk if you go slowly. Buses to everywhere round the corner and shops, restaurants, pubs, the cinema and once again Waitrose .<br /><br /><b>The space</b><br />Bright Chelsea Apartment <br /><br />This is a bright one bedroom ground floor apartment in an interesting listed building. There is one double bedroom and a living room/kitchen The apartment has a full bathroom and the kitchen is fully equipped. Two wardrobes are available exclusively for guests and bedside tables and two long drawers.<br /><br />This sunny convenient compact flat is just around the corner from the Waitrose supermarket and all sorts of shops, cinemas, restaurants and pubs.  This is a lovely part of London.<br /><br />There is a fun farmers market in the King's Road at the weekend. <br /><br />Buses to everywhere are just round the corner, and two underground stations are within ten min |
|  4 | 93734 |    497514 | 2011-04-10   |                     1 | t                        |                                1 | Private room in condo       | Private room    | f                  |                4 |              365 |                 180 |                1.21 | $46.00  |        nan |      1 | t                   | Greenwich                |                   4.62 |                     4.7  |                        4.59 |                    4.63 |                          4.81 |                     4.64 |                  4.67 | <b>During your stay</b><br />I’m a professional photographer and am in and out of the house all the time. I’m only a phone call away if you need me.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     |
|    |   listing_id |                 id | date       |   reviewer_id | reviewer_name   | comments                                                                                                                                                                                                                                                                                                     |
|---:|-------------:|-------------------:|:-----------|--------------:|:----------------|:-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
|  0 |        13913 | 597622110054753727 | 2022-04-04 |       2941217 | Kévin           | If the room is available, just take it !                                                                                                                                                                                                                                                                     |
|  1 |        13913 | 628812668788849576 | 2022-05-17 |      32486646 | Saarah          | Alina's flat is lovely and quirky, with art all around which makes for a lovely atmosphere. <br/>It feels like a comfortable place to stay, with nice touches to personalise your stay.<br/>It was great to view the pieces of art where each one told a story :)<br/>Alina was a lovely and friendly person |
|  2 |        13913 | 631032182017371215 | 2022-05-20 |     203803703 | Mallin          | This is the most cosy and beautifully-decorated flat, in a lovely area. Alina was warm and kind, and made me feel very welcome in London. I would highly recommend staying here if you have the chance!                                                                                                      |
|  3 |        13913 | 632423370762131190 | 2022-05-22 |     172968198 | Ged             | Alina was very welcoming, friendly  and helpful.  Home from home, with everything you need during your stay in the area. Location ideal for visiting London.<br/>Finsbury Park tube a 15 minute walk and there are plenty of parks and cafes nearby.<br/>I would stay again.                                 |
|  4 |        13913 | 646234379625287966 | 2022-06-10 |      27083732 | Robert          | An arty flat, clean and comfortable big room, welcoming and engaging host                                                                                                                                                                                                                                    |

1.6 Display how much memory is being consumed by each column(in bytes).

In [7]:
listings.memory_usage()

Index                                128
id                                703568
host_id                           703568
host_since                        703568
host_listings_count               703568
host_identity_verified            703568
calculated_host_listings_count    703568
property_type                     703568
room_type                         703568
instant_bookable                  703568
minimum_nights                    703568
maximum_nights                    703568
number_of_reviews                 703568
reviews_per_month                 703568
price                             703568
bedrooms                          703568
beds                              703568
host_is_superhost                 703568
neighbourhood_cleansed            703568
review_scores_rating              703568
review_scores_accuracy            703568
review_scores_cleanliness         703568
review_scores_checkin             703568
review_scores_communication       703568
review_scores_location            703568
review_scores_value               703568
description                       703568
dtype: int64

# 2. Selection

2.1 Select host_id where 'review_scores_rating' > 4 in dataframe 'listings'

In [8]:
listings[listings['review_scores_rating'] > 4].head()

,id,host_id,host_since,host_listings_count,host_identity_verified,calculated_host_listings_count,property_type,room_type,instant_bookable,minimum_nights,...,host_is_superhost,neighbourhood_cleansed,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,description
0,92644,498201,2011-04-10,1.0,t,1,Private room in rental unit,Private room,t,2,...,f,Wandsworth,4.57,4.74,4.86,4.71,4.67,4.53,4.68,<b>The space</b><br />Hi everyone! I have 2 ro...
1,93015,499704,2011-04-11,1.0,t,1,Entire rental unit,Entire home/apt,f,5,...,f,Hammersmith and Fulham,4.82,4.76,4.62,4.85,4.88,4.85,4.74,Gorgeous 2 bed ground floor apartment with per...
2,13913,54730,2009-11-16,3.0,t,2,Private room in rental unit,Private room,f,1,...,f,Islington,4.80,4.72,4.72,4.74,4.82,4.69,4.69,My bright double bedroom with a large window h...
3,15400,60302,2009-12-05,1.0,t,1,Entire rental unit,Entire home/apt,f,7,...,f,Kensington and Chelsea,4.80,4.85,4.88,4.88,4.83,4.93,4.74,Lots of windows and light. St Luke's Gardens ...
4,93734,497514,2011-04-10,1.0,t,1,Private room in condo,Private room,f,4,...,t,Greenwich,4.62,4.70,4.59,4.63,4.81,4.64,4.67,<b>During your stay</b><br />I’m a professiona...

2.2 Select 4th host_id where 'room_type' == 'Private room' in dataframe 'listings'

In [9]:
listings[listings['room_type'] == "Private room"].iloc[4]

id                                                                            96052
host_id                                                                      448154
host_since                                                               2011-03-17
host_listings_count                                                             2.0
host_identity_verified                                                            t
calculated_host_listings_count                                                    2
property_type                                                 Private room in condo
room_type                                                              Private room
instant_bookable                                                                  f
minimum_nights                                                                    3
maximum_nights                                                                  180
number_of_reviews                                                                79
reviews_per_month                                                              0.53
price                                                                        $50.00
bedrooms                                                                        NaN
beds                                                                            1.0
host_is_superhost                                                                 f
neighbourhood_cleansed                                                        Brent
review_scores_rating                                                           4.82
review_scores_accuracy                                                         4.71
review_scores_cleanliness                                                      4.74
review_scores_checkin                                                          4.93
review_scores_communication                                                     4.9
review_scores_location                                                         4.46
review_scores_value                                                             4.7
description                       A homey stay experience in a clean modern spac...
Name: 11, dtype: object

# 3. Data cleaning

3.1 Identify the missing values in dataframe 'listings'

In [10]:
listings.isnull()

,id,host_id,host_since,host_listings_count,host_identity_verified,calculated_host_listings_count,property_type,room_type,instant_bookable,minimum_nights,...,host_is_superhost,neighbourhood_cleansed,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,description
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87941,False,False,False,False,False,False,False,False,False,False,...,False,False,True,True,True,True,True,True,True,False
87942,False,False,False,False,False,False,False,False,False,False,...,False,False,True,True,True,True,True,True,True,False
87943,False,False,False,False,False,False,False,False,False,False,...,False,False,True,True,True,True,True,True,True,True
87944,False,False,False,False,False,False,False,False,False,False,...,False,False,True,True,True,True,True,True,True,False
87945,False,False,False,False,False,False,False,False,False,False,...,False,False,True,True,True,True,True,True,True,False

3.2 Remove the rows containing missing values in any column. Store the new dataframe as listings_not_null

In [11]:
listings_not_null = listings.dropna()

In [12]:
listings_not_null.head()

,id,host_id,host_since,host_listings_count,host_identity_verified,calculated_host_listings_count,property_type,room_type,instant_bookable,minimum_nights,...,host_is_superhost,neighbourhood_cleansed,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,description
1,93015,499704,2011-04-11,1.0,t,1,Entire rental unit,Entire home/apt,f,5,...,f,Hammersmith and Fulham,4.82,4.76,4.62,4.85,4.88,4.85,4.74,Gorgeous 2 bed ground floor apartment with per...
3,15400,60302,2009-12-05,1.0,t,1,Entire rental unit,Entire home/apt,f,7,...,f,Kensington and Chelsea,4.80,4.85,4.88,4.88,4.83,4.93,4.74,Lots of windows and light. St Luke's Gardens ...
5,17402,67564,2010-01-04,10.0,t,9,Entire rental unit,Entire home/apt,f,3,...,t,Westminster,4.76,4.83,4.71,4.71,4.71,4.88,4.60,"You'll have a great time in this beautiful, cl..."
6,93783,502496,2011-04-12,1.0,t,1,Entire rental unit,Entire home/apt,f,5,...,t,Westminster,4.73,4.57,4.70,5.00,4.96,4.87,4.39,"Beautifully presented 2 bedroom, 2 bathroom pe..."
7,24328,41759,2009-09-28,1.0,t,1,Entire townhouse,Entire home/apt,f,2,...,f,Wandsworth,4.90,4.89,4.91,4.90,4.93,4.59,4.65,"Artist house, bright high ceiling rooms for bo..."

3.3 fill the missing values with value "N/A"

In [13]:
listings_with_na = listings.fillna('N/A')

In [14]:
listings_with_na

,id,host_id,host_since,host_listings_count,host_identity_verified,calculated_host_listings_count,property_type,room_type,instant_bookable,minimum_nights,...,host_is_superhost,neighbourhood_cleansed,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,description
0,92644,498201,2011-04-10,1.0,t,1,Private room in rental unit,Private room,t,2,...,f,Wandsworth,4.57,4.74,4.86,4.71,4.67,4.53,4.68,<b>The space</b><br />Hi everyone! I have 2 ro...
1,93015,499704,2011-04-11,1.0,t,1,Entire rental unit,Entire home/apt,f,5,...,f,Hammersmith and Fulham,4.82,4.76,4.62,4.85,4.88,4.85,4.74,Gorgeous 2 bed ground floor apartment with per...
2,13913,54730,2009-11-16,3.0,t,2,Private room in rental unit,Private room,f,1,...,f,Islington,4.8,4.72,4.72,4.74,4.82,4.69,4.69,My bright double bedroom with a large window h...
3,15400,60302,2009-12-05,1.0,t,1,Entire rental unit,Entire home/apt,f,7,...,f,Kensington and Chelsea,4.8,4.85,4.88,4.88,4.83,4.93,4.74,Lots of windows and light. St Luke's Gardens ...
4,93734,497514,2011-04-10,1.0,t,1,Private room in condo,Private room,f,4,...,t,Greenwich,4.62,4.7,4.59,4.63,4.81,4.64,4.67,<b>During your stay</b><br />I’m a professiona...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87941,973781286754517228,498408783,2023-01-28,2.0,t,2,Entire rental unit,Entire home/apt,f,2,...,t,Westminster,N/A,N/A,N/A,N/A,N/A,N/A,N/A,Enjoy a Experience unique look in the center o...
87942,973801695874775338,36645347,2015-06-24,1.0,t,1,Entire rental unit,Entire home/apt,f,3,...,f,Southwark,N/A,N/A,N/A,N/A,N/A,N/A,N/A,La Casita is a unique one bedroom flat in Sout...
87943,973811685656289740,340514057,2020-03-06,1.0,t,1,Private room in home,Private room,f,1,...,f,Merton,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A
87944,973882998775927897,439074505,2022-01-05,2538.0,t,170,Entire home,Entire home/apt,t,1,...,f,Hounslow,N/A,N/A,N/A,N/A,N/A,N/A,N/A,<b>The space</b><br />Looking for a spacious h...
87945,973895808066047620,475112423,2022-08-15,37.0,t,6,Entire rental unit,Entire home/apt,f,1,...,f,City of London,N/A,N/A,N/A,N/A,N/A,N/A,N/A,Enjoy staying in the heart of London’s Holborn...

3.4 Convert col 'host_listings_count' from float to integer

In [15]:
listings_not_null['host_listings_count'] = listings_not_null['host_listings_count'].astype(int)

/tmp/ipykernel_4192/26809392.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  listings_not_null['host_listings_count'] = listings_not_null['host_listings_count'].astype(int)

In [16]:
listings_not_null['host_listings_count']

1         1
3         1
5        10
6         1
7         1
         ..
87435     3
87437    11
87687     4
87700     1
87733    16
Name: host_listings_count, Length: 39905, dtype: int64

In [17]:
#If you want to use int16 instead of int64 datatype
import numpy as np
listings_not_null['host_listings_count'] = listings_not_null['host_listings_count'].astype(np.int16)

/tmp/ipykernel_4192/1353916723.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  listings_not_null['host_listings_count'] = listings_not_null['host_listings_count'].astype(np.int16)

# 4. Applying Custom Functions

4.1 Convert column "price" to float in dataframe "listings"

In [18]:
listings['price']

0         $42.00
1        $175.00
2         $79.00
3        $150.00
4         $46.00
          ...
87941    $275.00
87942    $145.00
87943    $160.00
87944    $680.00
87945    $170.00
Name: price, Length: 87946, dtype: object

In [19]:
def convert_str_to_float(x):
    x = x.replace('$','')
    x = x.replace(',','')
    return float(x)

def convert_str_to_float_by_regex(x):
    pattern = r'[$,]'
    x = re.sub(pattern, '', x)
    return float(x)

In [20]:
listings['price'] = listings['price'].apply(convert_str_to_float)

In [24]:
# listings['price'].apply(convert_str_to_float_by_regex)

4.2 Convert column "review_scores_rating" from scale 5 to scale 5*n in dataframe "listings_not_null" with n is the pre-defined parameter

In [25]:
listings_not_null["review_scores_rating"]

1        4.82
3        4.80
5        4.76
6        4.73
7        4.90
         ...
87435    5.00
87437    5.00
87687    5.00
87700    5.00
87733    5.00
Name: review_scores_rating, Length: 39905, dtype: float64

In [26]:
def scale_n(x, n):
    x = x * n
    return x

In [27]:
n = 2
listings_not_null["review_scores_rating"].apply(scale_n, args=(n,)) # Since apply is being used on a Series (listings_not_null["review_scores_rating"]), there is no need to specify the axis. The default behavior (0 for Series) will apply the function element-wise.

1         9.64
3         9.60
5         9.52
6         9.46
7         9.80
         ...
87435    10.00
87437    10.00
87687    10.00
87700    10.00
87733    10.00
Name: review_scores_rating, Length: 39905, dtype: float64

# 5. Statistics

5.1 Get the basic statistics of each column of the sample data

In [28]:
listings.describe()

,id,host_id,host_listings_count,calculated_host_listings_count,minimum_nights,maximum_nights,number_of_reviews,reviews_per_month,price,bedrooms,beds,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value
count,8.794600e+04,8.794600e+04,87941.000000,87946.000000,87946.000000,8.794600e+04,87946.000000,65788.000000,87946.000000,55172.000000,86812.000000,65788.000000,64853.000000,64865.000000,64821.000000,64851.000000,64821.000000,64820.000000
mean,3.586523e+17,1.589904e+08,48.666629,18.140950,5.618050,6.712553e+03,17.977236,1.014903,181.349817,1.785253,1.803771,4.596540,4.712780,4.623333,4.777310,4.798890,4.720487,4.593404
std,4.121119e+17,1.694033e+08,293.465172,63.745275,23.571976,1.770410e+06,42.834975,1.365452,486.174310,1.109277,1.276012,0.750778,0.500756,0.551075,0.457757,0.451838,0.421893,0.536391
min,1.391300e+04,4.775000e+03,1.000000,1.000000,1.000000,1.000000e+00,0.000000,0.010000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.215818e+07,2.186737e+07,1.000000,1.000000,1.000000,5.500000e+01,0.000000,0.150000,63.000000,1.000000,1.000000,4.500000,4.650000,4.500000,4.750000,4.790000,4.630000,4.490000
50%,4.935854e+07,8.140696e+07,2.000000,2.000000,2.000000,3.650000e+02,4.000000,0.540000,110.000000,2.000000,1.000000,4.820000,4.880000,4.800000,4.940000,4.970000,4.840000,4.740000
75%,8.164776e+17,2.668211e+08,7.000000,6.000000,4.000000,1.125000e+03,16.000000,1.320000,193.000000,2.000000,2.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,4.960000
max,9.738958e+17,5.355140e+08,3023.000000,595.000000,1125.000000,5.248556e+08,1536.000000,50.250000,80100.000000,50.000000,50.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000

5.2 Get the information about the various data types used and the non-null count of each column in "listings"

In [29]:
listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87946 entries, 0 to 87945
Data columns (total 26 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              87946 non-null  int64
 1   host_id                         87946 non-null  int64
 2   host_since                      87941 non-null  object
 3   host_listings_count             87941 non-null  float64
 4   host_identity_verified          87941 non-null  object
 5   calculated_host_listings_count  87946 non-null  int64
 6   property_type                   87946 non-null  object
 7   room_type                       87946 non-null  object
 8   instant_bookable                87946 non-null  object
 9   minimum_nights                  87946 non-null  int64
 10  maximum_nights                  87946 non-null  int64
 11  number_of_reviews               87946 non-null  int64
 12  reviews_per_month               65788 non-null  float64
 13  price                           87946 non-null  float64
 14  bedrooms                        55172 non-null  float64
 15  beds                            86812 non-null  float64
 16  host_is_superhost               87014 non-null  object
 17  neighbourhood_cleansed          87946 non-null  object
 18  review_scores_rating            65788 non-null  float64
 19  review_scores_accuracy          64853 non-null  float64
 20  review_scores_cleanliness       64865 non-null  float64
 21  review_scores_checkin           64821 non-null  float64
 22  review_scores_communication     64851 non-null  float64
 23  review_scores_location          64821 non-null  float64
 24  review_scores_value             64820 non-null  float64
 25  description                     86679 non-null  object
dtypes: float64(12), int64(6), object(8)
memory usage: 17.4+ MB

5.3 Give the correlation matrix between all the numeric columns in the data frame "listings".

Selecting Numeric Columns

In [30]:
numeric_columns_listings = listings.select_dtypes(include='number')
numeric_columns_listings.head()

,id,host_id,host_listings_count,calculated_host_listings_count,minimum_nights,maximum_nights,number_of_reviews,reviews_per_month,price,bedrooms,beds,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value
0,92644,498201,1.0,1,2,730,216,1.45,42.0,NaN,2.0,4.57,4.74,4.86,4.71,4.67,4.53,4.68
1,93015,499704,1.0,1,5,240,38,0.27,175.0,2.0,3.0,4.82,4.76,4.62,4.85,4.88,4.85,4.74
2,13913,54730,3.0,2,1,29,41,0.26,79.0,NaN,1.0,4.80,4.72,4.72,4.74,4.82,4.69,4.69
3,15400,60302,1.0,1,7,30,94,0.56,150.0,1.0,1.0,4.80,4.85,4.88,4.88,4.83,4.93,4.74
4,93734,497514,1.0,1,4,365,180,1.21,46.0,NaN,1.0,4.62,4.70,4.59,4.63,4.81,4.64,4.67

Give the correlation matrix between all the numeric columns in the data frame "listings"

In [31]:
numeric_columns_listings.corr()

,id,host_id,host_listings_count,calculated_host_listings_count,minimum_nights,maximum_nights,number_of_reviews,reviews_per_month,price,bedrooms,beds,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value
id,1.000000,0.465670,0.093027,0.110515,-0.031720,-0.003109,-0.240740,0.382815,0.051136,-0.014301,0.055917,0.025916,-0.089190,-0.025688,-0.090536,-0.073160,-0.069597,-0.107958
host_id,0.465670,1.000000,0.028415,0.011139,-0.007876,-0.002441,-0.125926,0.244392,0.026294,-0.054733,0.024544,-0.072528,-0.162673,-0.105207,-0.149021,-0.147105,-0.110782,-0.170102
host_listings_count,0.093027,0.028415,1.000000,0.843344,-0.007953,-0.000523,-0.052591,-0.031466,0.228722,-0.047447,-0.022184,-0.083714,-0.124785,-0.095357,-0.158932,-0.162389,-0.062031,-0.125051
calculated_host_listings_count,0.110515,0.011139,0.843344,1.000000,0.016756,-0.000712,-0.062661,-0.028230,0.234671,-0.029811,0.018105,-0.093173,-0.143716,-0.101032,-0.174126,-0.187015,-0.052457,-0.172603
minimum_nights,-0.031720,-0.007876,-0.007953,0.016756,1.000000,-0.000655,-0.026489,-0.059790,0.024270,-0.004386,0.000405,-0.005935,0.000364,-0.000765,0.003058,0.001555,0.008199,-0.003648
maximum_nights,-0.003109,-0.002441,-0.000523,-0.000712,-0.000655,1.000000,0.019486,0.004826,-0.000746,0.006195,-0.002209,-0.001140,-0.001317,-0.004533,-0.000118,-0.000919,-0.001156,-0.000048
number_of_reviews,-0.240740,-0.125926,-0.052591,-0.062661,-0.026489,0.019486,1.000000,0.443149,-0.036809,-0.041699,-0.031054,0.083637,0.072830,0.076858,0.073304,0.067106,0.054558,0.080023
reviews_per_month,0.382815,0.244392,-0.031466,-0.028230,-0.059790,0.004826,0.443149,1.000000,-0.018547,-0.048257,-0.000739,0.094879,0.035930,0.067194,0.038093,0.047150,0.021537,0.035948
price,0.051136,0.026294,0.228722,0.234671,0.024270,-0.000746,-0.036809,-0.018547,1.000000,0.155655,0.162210,-0.001427,-0.018796,0.000411,-0.026650,-0.030010,0.025984,-0.031564
bedrooms,-0.014301,-0.054733,-0.047447,-0.029811,-0.004386,0.006195,-0.041699,-0.048257,0.155655,1.000000,0.729844,0.025226,0.013867,0.003483,0.034624,0.022428,-0.010037,0.021772
beds,0.055917,0.024544,-0.022184,0.018105,0.000405,-0.002209,-0.031054,-0.000739,0.162210,0.729844,1.000000,0.009024,-0.030119,-0.019883,-0.007540,-0.017413,-0.019933,-0.041805
review_scores_rating,0.025916,-0.072528,-0.083714,-0.093173,-0.005935,-0.001140,0.083637,0.094879,-0.001427,0.025226,0.009024,1.000000,0.847930,0.782067,0.704166,0.762534,0.606543,0.853184
review_scores_accuracy,-0.089190,-0.162673,-0.124785,-0.143716,0.000364,-0.001317,0.072830,0.035930,-0.018796,0.013867,-0.030119,0.847930,1.000000,0.731596,0.690456,0.731262,0.594617,0.815159
review_scores_cleanliness,-0.025688,-0.105207,-0.095357,-0.101032,-0.000765,-0.004533,0.076858,0.067194,0.000411,0.003483,-0.019883,0.782067,0.731596,1.000000,0.584072,0.604904,0.520815,0.722681
review_scores_checkin,-0.090536,-0.149021,-0.158932,-0.174126,0.003058,-0.000118,0.073304,0.038093,-0.026650,0.034624,-0.007540,0.704166,0.690456,0.584072,1.000000,0.769311,0.541864,0.667672
review_scores_communication,-0.073160,-0.147105,-0.162389,-0.187015,0.001555,-0.000919,0.067106,0.047150,-0.030010,0.022428,-0.017413,0.762534,0.731262,0.604904,0.769311,1.000000,0.558374,0.715337
review_scores_location,-0.069597,-0.110782,-0.062031,-0.052457,0.008199,-0.001156,0.054558,0.021537,0.025984,-0.010037,-0.019933,0.606543,0.594617,0.520815,0.541864,0.558374,1.000000,0.614150
review_scores_value,-0.107958,-0.170102,-0.125051,-0.172603,-0.003648,-0.000048,0.080023,0.035948,-0.031564,0.021772,-0.041805,0.853184,0.815159,0.722681,0.667672,0.715337,0.614150,1.000000

5.4 How to see the frequency of each type in the column 'neighbourhood_cleansed' of a DataFrame "listings" ?

In [32]:
listings['neighbourhood_cleansed'].value_counts()

neighbourhood_cleansed
Westminster               9992
Tower Hamlets             7080
Hackney                   6182
Kensington and Chelsea    5818
Camden                    5757
Southwark                 5015
Lambeth                   4774
Islington                 4675
Wandsworth                4419
Hammersmith and Fulham    3795
Brent                     2740
Lewisham                  2581
Haringey                  2382
Newham                    2311
Barnet                    2249
Ealing                    2169
Greenwich                 1927
Waltham Forest            1715
Croydon                   1506
Merton                    1453
Richmond upon Thames      1257
Hounslow                  1253
Redbridge                  869
Hillingdon                 863
Enfield                    820
Bromley                    772
Kingston upon Thames       699
Barking and Dagenham       564
City of London             536
Harrow                     503
Bexley                     495
Havering                   394
Sutton                     381
Name: count, dtype: int64

5.5 Do the basic followings statistical calculation on the column 'price' of the dataframe 'listings', remove all null value before doing calculation:
- mean()
- median()
- sum()
- std()
- min()
- max()
- count()
- idxmax()
- idxmin()
- quantile()

In [35]:
listings_not_null["price"] = listings['price'].dropna()

/tmp/ipykernel_4192/2211789996.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  listings_not_null["price"] = listings['price'].dropna()

In [36]:
listings_not_null["price"]

1         175.0
3         150.0
5         476.0
6         371.0
7         250.0
          ...
87435    3952.0
87437     269.0
87687     113.0
87700      75.0
87733      85.0
Name: price, Length: 39905, dtype: float64

In [37]:
listings_not_null['price'].mean()

209.19488785866432

In [39]:
listings_not_null['price'].median()

150.0

In [40]:
listings_not_null['price'].sum()

8347922.0

In [41]:
listings_not_null['price'].std()

497.8330021293787

In [43]:
listings_not_null['price'].min()

1.0

In [44]:
listings_not_null['price'].max()

80100.0

In [45]:
listings_not_null['price'].idxmax()

36165

In [46]:
listings_not_null['price'].idxmin()

43049

In [52]:
listings_not_null['price'].quantile()

150.0

2.5 What is the neighborhood in which superhosts have the biggest price difference with respect to non superhosts?

Paraphase the questions :

Among the neighborhood, which one has the biggest difference between superhosts and non-superhosts ?

Solution:
- Loop all the neighborhood, calcuate the substract of the price between superhosts and non-superhosts
- Choose the substraction which is biggest, this the the neighborhood we need

In [59]:
listings['price'].head(3)

0     42.0
1    175.0
2     79.0
Name: price, dtype: float64

In [60]:
listings.columns

Index(['id', 'host_id', 'host_since', 'host_listings_count',
       'host_identity_verified', 'calculated_host_listings_count',
       'property_type', 'room_type', 'instant_bookable', 'minimum_nights',
       'maximum_nights', 'number_of_reviews', 'reviews_per_month', 'price',
       'bedrooms', 'beds', 'host_is_superhost', 'neighbourhood_cleansed',
       'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'description'],
      dtype='object')

In [64]:
listings['host_is_superhost'].value_counts()

host_is_superhost
f    73716
t    13298
Name: count, dtype: int64

In [63]:
list_neighbor = list(listings['neighbourhood_cleansed'])

In [76]:
listings['neighbourhood_cleansed']

0                    Wandsworth
1        Hammersmith and Fulham
2                     Islington
3        Kensington and Chelsea
4                     Greenwich
                  ...
87941               Westminster
87942                 Southwark
87943                    Merton
87944                  Hounslow
87945            City of London
Name: neighbourhood_cleansed, Length: 87946, dtype: object

In [91]:
# This code take 21m45s to execute
neighbor_most_price_difference = None
sum_difference_price = 0
for neighbor in list_neighbor:
    sum_price_neighbor_superhost = listings[(listings['host_is_superhost'] == "t") & (listings['neighbourhood_cleansed'] == neighbor)]['price'].sum()
    sum_price_neighbor_non_superhost = listings[(listings['host_is_superhost'] == "f") & (listings['neighbourhood_cleansed'] == neighbor)]['price'].sum()
    sum_difference_price_neighbor = sum_price_neighbor_superhost - sum_price_neighbor_non_superhost
    if sum_difference_price > sum_difference_price_neighbor:
        sum_difference_price = sum_difference_price_neighbor
        neighbor_most_price_difference = neighbor

In [93]:
print("the neighborhood in which superhosts have the biggest price difference with respect to non superhosts is {}".format(neighbor_most_price_difference))

the neighborhood in which superhosts have the biggest price difference with respect to non superhosts is Westminster